# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
EntityLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
EntityLayer/obj/Debug/EntityLayer.csproj.AssemblyReference.cache
EntityLayer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
.vs/ProjectProductt/FileContentIndex/9add9622-a96f-496d-9dfe-7eaf10eaba7a.vsidx
*.vsidx
*.vsidx
.vs/ProjectProductt/v17/.suo
*.csproj
*.cache
*.cache
*.config
*.json
*.ps1
*.psm1
*.psd1
*.txt
*.xml
*.csproj
EntityLayer/EntityLayer.csproj
*.vsidx
*.vsidx
*.cache
*.cache
.vs/ProjectProductt/v17/.suo
*.cs
.vs/ProjectProductt/v17/.suo
